{% extends "base.html" %}
{% load static %}
{% block main %}
<div class="container">

    <h1>Our blogs</h1>
    <div class="container d-grid">
        {% for blog in blogs %}
        <div class="card" style="width: 18rem;">
            <img src="{% static 'images/django-htmx.png' %}" alt="icons" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{blog.title}}</h5>
                <p class="card-text">{{blog.content|truncatewords:7}}</p>
                <a href="#" class="btn btn-primary">Read now</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main %}